*{
	margin:0;
    padding:0;
}
.navbar{
 background:linear-gradient(to right,#abbaab,#ffffff);
	}
a:hover
{
	color:black;
}

.navbar{
background:linear-gradient(to right,#abbaab,#ffffff);
}
body
{
overflow-x:hidden;
}
.cart-btn:hover
{
	background-color: #555555;
	color:white;
}