@charset "ISO-8859-1";
input[type=text], input[type=password]{
	border-radius:50px; 
	 width:250px;
	 height:30px;
	 
	
}
#submit{
	border-radius:50px;
	 width:100px; 
	 height:30px; 
	 margin-left:70px; 
	 border:none; 
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
text-align:center;
margin-left:40px; 
margin-bottom:50px; 
font-family: 'Marcellus', serif;	
}

.container{
   background:transparent; 
   position:relative;
   margin-top:-70px;
}
h4
{
	font-size: 3rem; 
	font-family: 'Cookie', cursive; 
	color:white;
}
